{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {%block title%}

        {%endblock%}
         | Jorge Fernandez
    </title>
    {% load static %}
    <link rel="stylesheet", type="text/css" href="{% static 'css/styles.css'%}">
</head>

<body>

    <!--Cabecera de la pagina-->
    <header>
        <div id="logotipo">
            <!--Logo Django-->
            <img src="{% static 'images/logo.png' %}"/>
            <h1>Sitio web con Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio'%}">Inicio</a>
            </li>
            <li>
                <a href={%url 'articulos'%}>Articulos</a>
            </li>
            <li>
                <a href={%url 'create'%}>Crear articulo</a>
            </li>
            <li>
                <a href={%url 'create_full'%}>Crear articulo 2</a>
            </li>
            <li>
                <a href="{%url 'hola_mundo' %}">Hola Mundo!</a>
            </li>
            <li>
                <a href="{%url 'pagina' %}">Pagina de pruebas</a>
            </li>
            <li>
                <a href={%url 'contacto' nombre='Jorge' apellidos='Fernandez'%}>Contacto</a>
            </li>
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>


    <div id="content">

        <div class="box">
            {%block content%}
            <strong>Contenido del bloque original!!!</strong>
            {%endblock%}
        </div>

    </div>

    <footer>
        Master en Python, Jorge Fernandez - {%now "d/m/Y h:m:s"%}
    </footer>
</body>

</html>