{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {%block title%}

        {%endblock%}
         | Jorge Fernandez
    </title>
    <link rel="stylesheet", type="text/css" href="{% static 'css/styles.css'%}">
</head>

<body>
    <h1>Sitio web con Django</h1>
    <hr />
    <ul>
        <li>
            <a href="/inicio">Inicio</a>
        </li>
        <li>
            <a href="/hola-mundo">Hola Mundo!</a>
        </li>
        <li>
            <a href="/pagina-pruebas">Pagina de pruebas</a>
        </li>
        <li>
            <a href="/contacto">Contacto</a>
        </li>
    </ul>
    <hr />

    <div id="content">
        {%block content%}
        <strong>Contenido del bloque original!!!</strong>
        {%endblock%}
    </div>

    <hr/>
    <footer>
        Master en Python, Jorge Fernandez
    </footer>
</body>

</html>