{% extends 'layout.html' %}
{% load filters %}

{%block title%} Pagina de pruebas {% endblock %}

{% block content %}

<h1 class="title">Pagina de mi web</h1>
<p>{{" Creado por Jorge Fernandez ñ"|cut:"ñ"}}</p>

<p>
    {{texto|default:"no hay nada"}}
</p>

<p>
    {{lista|join:','}}
</p>

<p>
    {{lista|random}}
</p>

<p>
    {{"texto pruebas"|length}}
</p>

<p>
    {{"texto pruebas"|upper}}
</p>

<p>
    {{"Texto pruebas"|lower}}
</p>

<p>
    {{"<h1>Texto</h1> <strong>pruebas</strong> hola <p> mundo </p>"|striptags|wordcount}}
</p>

{{"Jorge"|saludo|safe}}

{% endblock %}